@import "tailwindcss";
@plugin "daisyui";

@theme {
  /* custom fonts */
  --font-fraunces: "Fraunces", serif;
  --font-inter: "Inter", serif;
  --font-noto: "Noto Sans", sans-serif; 

/* Custom Color */
--color-primary: #017afc;
--color-primary-content: #fdfeff;
--color-primary-dark: #0161c9;
--color-primary-light: #3294fe;

--color-secondary: #01fc06;
--color-secondary-content: #000000;
--color-secondary-dark: #01c905;
--color-secondary-light: #32fe36;

--color-background: #f0f0f0;
--color-foreground: #fbfbfb;
--color-border: #dfdfdf;

--color-copy: #262626;
--color-copy-light: #666666;
--color-copy-lighter: #8c8c8c;

--color-success: #01fc01;
--color-warning: #fcfc01;
--color-error: #fc0101;
--color-success-content: #000000;
--color-warning-content: #000000;
--color-error-content: #fffdfd;

}


.head1 {
  @apply text-4xl font-bold text-gray-900 leading-tight;
}

.head2 {
  @apply text-3xl font-semibold text-gray-800 leading-snug;
}

.head3 {
  @apply text-2xl font-medium text-gray-700 leading-normal;
}

.para1 {
  @apply text-lg text-gray-600 leading-relaxed;
}

.para2 {
  @apply text-base text-gray-500 leading-loose;
}

.para3 {
  @apply text-xs text-gray-400 leading-normal;
}
